doctype html
html(lang="en")
    head
        block head
            meta(http-equiv="Content-Security-Policy" content="")
            meta(charset="UTF-8")
            meta(name="viewport", content="width=device-width, initial-scale=1.0")
            link(rel="stylesheet", href="/css/style.css")
            script(type='module' src='/js/bundle.js')
            link(rel="shortcut icon", href="/img/favicon.png", type="image/png")
            link(href="https://fonts.googleapis.com/css?family=Lato:300,300i,700" rel="stylesheet")
            //- Interpolation -- Syntax: #{JS code}
            title Natours | #{title}
    body 
        //- h1= tour 
        //- //- Pug comment -- not outputted to the html file
        //- // Html comment -- Outputted to the html file as a html comment

        //- //- Buffered code -- code that adds something to the output
        //- p= user.toUpperCase()  

        //- //- Unbuffered code - does not add to the output
        //- - const x = 9;

        //- Buffered code
        //- h2= 2 + x

        // HEADER
        include _header

        // CONTENT
        block content
            h1 This is a placeholder heading


        // FOOTER
        include _footer
        


